 Write a Python program to find those numbers which are divisible by 6 and multiple of 5, between 500 and 1700 (both included)
b) Write a Python program to get the Fibonacci series between 20 to 60.
c) convert two lists into a dictionary 
l1=['Ali','Ahmed','Khizar','Zoya','Jan','Dan']
l2=['1','32','41','63','23','90']

 Write a Python program to find those numbers which are divisible by 6 and multiple of 5, between 500 and 1700 (both included)

In [9]:
a =[]
for x in range(500,1700):
    if(x%6==0) and (x%5==0):
        a.append(str(x))
print(",".join(a))

510,540,570,600,630,660,690,720,750,780,810,840,870,900,930,960,990,1020,1050,1080,1110,1140,1170,1200,1230,1260,1290,1320,1350,1380,1410,1440,1470,1500,1530,1560,1590,1620,1650,1680

Write a Python program to get the Fibonacci series between 20 to 60.

In [8]:
x=0
y=20
while y<60:
    print(y)
    x=y
    y=x+y

20
40

 convert two lists into a dictionary 
l1=['Ali','Ahmed','Khizar','Zoya','Jan','Dan']
l2=['1','32','41','63','23','90']

In [12]:
l1=['Ali','Ahmed','Khizar','Zoya','Jan','Dan']
l2=['1','32','41','63','23','90']
d1=zip(l1,l2)
dict(d1)

{'Ali': '1',
 'Ahmed': '32',
 'Khizar': '41',
 'Zoya': '63',
 'Jan': '23',
 'Dan': '90'}